body {
  display: grid;
  position: fixed;
  inset: 0;
  align-content: center;
  font: 1.5em sans-serif;
  margin: 0;
  text-align: center;
}
.code {
  font: min(4em, 25vw) monospace;
  user-select: all;
}
.item-list {
  border-top: 3px solid grey;
  overflow: auto;
  padding: 10px;
}
.item {
  background: #E9E9E9;
  border: 0;
  border-radius: 9em;
  color: inherit;
  font: inherit;
  margin: 10px;
  padding: 16px 40px;
}
.item:hover {
  background: #D0D0D0;
}
