body {
  display: grid;
  position: fixed;
  inset: 0;
  align-content: center;
  font: 1.5em sans-serif;
  margin: 0;
  text-align: center;
}
.code {
  cursor: pointer;
  font: min(4em, 25vw) monospace;
  user-select: all;
}
.item-list {
  border-top: 3px solid grey;
  overflow: auto;
  padding: 10px;
}
.item {
  width: 300px;
  height: 3em;
  background: lightgrey;
  border: 0;
  border-radius: 9em;
  color: inherit;
  cursor: pointer;
  font: inherit;
  margin: 10px;
}
.item:hover {
  background: darkgrey;
}
